
.page-wr {
    padding: 20px;

    font-family: Arial, sans-serif;
  }
.view{
    color:white;
    background-color: blueviolet;
    width:250px;
    margin-left: 600px;
    height:50px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
}
  
  .category-item {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #e9ecef;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .category-item:hover {
    background-color: #ced4da;
    color: black;
  }
  

  .main-ct {
    flex: 1;
  }
  
  .header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  

  .crds-wr {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 50px;
    justify-content: center;
  }
  
  
  .crd {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
  .crd img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .crd-content {
    padding: 15px;
        color: black;

     }
 .grd{
    display: grid;
    grid-template-columns: repeat(2,1fr);

 } 
  .crd-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .metaa,
  .infoo,
  .crd-date {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .tags {
    margin: 10px 0;
  }
  
  .tag {
    display: inline-block;
    background-color: #dee2e6;
    color: #333;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 12px;
  }
  

  @media (max-width: 768px) {
    .page-wrapper {
      flex-direction: column;
    }

  
    .search-container {
      flex-direction: column;
    }
  
    .search-container input,
    .search-container button {
      width: 100%;
    }
  
    .crds-wr {
      grid-template-columns: 1fr; 
    }
  }

    